* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mid {
    left: 25px;
    top: 25px;
}

.bot {
    left: 50px;
    top: 50px;
}
@keyframes run {
    0% {
        transform: translate(50%,);
        border-radius: 50%;
      }
      25% {
        transform: translate(0%, 10%, ) ; 
        border-radius: 40%;
      }
      50% {
        transform: translate(0%, 0%, 10%);
        border-radius: 50%; 
      }
      75% {
        transform: translate(0%, 10%); 
        border-radius: 40%;
      }
    }
.cube div:first-child {
    animation-name: run;
    animation-duration: 2s; /* продолжительность анимации*/
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite; /* повтор анимации*/
    animation-direction: alternate; /* направление*/
}
.kolo div:first-child:hover {
    z-index: 1;
    /* transform: translate(50px, 100px) ; */
}
.fon {
    background-color: brown;
}
.block_seft {
    float: left;
    width: 500px;
    height: 100vh;
}

.sun {
    width: 200px;
    height: 170px;
    margin: 12px;
    float: left;
}

.circuit_center {
    float: left;
    height: 100vh;
    width:450px;
}

.cube {
    background: rgb(255, 255, 255);
    position: relative;
    left: 150%;
    top: -270px;
    margin-bottom: 10px;
    height: 150px;
    width: 150px;
}

.kolo {
    background: rgb(189, 0, 0);
    position: relative;
    height: 100px;
    width: 100px;
    border-radius: 50%; 
}
.anime {
    height: 60px;
    width: 60px;
    display: block;
    position: relative ;
    top: -850px;
    left: 200%;
    margin-bottom: 10px;
}